body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h3,
h2,
h1 {
  text-transform: uppercase;
  font-weight: 400px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

button {
  border: none;
  border-radius: 200px;
  background-color: #cecece;
}

button:active {
  background-color: rgb(154, 0, 0);
  color: white;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  transition: display 0.5s ease; /* Add transition for smoother hiding/showing */
}

#gallery-header {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 5px;
  padding: 30px;
  display: none;
}

#gallery-header-title {
  display: flex;
  justify-content: space-around;
}

#logo {
  height: 100px;
}

#language-selection {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Updated to column */
  align-items: center; /* Center-align the buttons */
}

#language-selection button {
  margin-bottom: 100px; /* Add space between buttons */
  width: 600px; /* Set a fixed width for buttons */
  height: 200px; /* Set a fixed height for buttons */
  font-size: 100px;
}

#settings-modules {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Updated to column */
  align-items: center; /* Center-align the buttons */
}

#settings button {
  text-align: left;
  padding: 30px;
  margin-bottom: 10px; /* Add space between buttons */
  width: 90%;
  font-size: 50px;
}

#content {
  display: none;
  padding: 20px;
}

.page {
  display: none;
}

.page h2 {
  text-align: center;
}

.active {
  display: block;
}

#main-menu {
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 150px;
  margin-top: 200px;
}

#main-menu button,
#gallery-header-title button {
  width: 20%;
  font-size: 5;
  background-color: #444;
  border: none;
  border-radius: 50%;
}

#main-menu i,
#gallery-header-title i {
  font-size: 90px;
  color: white;
}

.events-module,
.home-module {
  background-color: rgba(164, 125, 25, 0.137);
  margin: 20px;
  padding: 55px;
  border-radius: 5%;
}

.events-module img {
  width: 90%;
  margin: auto;
  display: block;
  border-radius: 5%;
}

#map-img {
  display: block;
  margin: auto;
  border-radius: 5%;
}

.footer-space {
  padding: 100px;
}
